.square {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 16px;
    position: relative;
    font-size: 14px;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    box-sizing: border-box;
}

.square:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.color {
    width: 100%;
    min-height: 10px;
    flex-grow: 2;
}

.label {
    background-color: #ffffff;
    padding: 10px;
}