.color {
    width: 123px;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 10px;
    color: #fff;
    position: relative;
    font-size: 13px;
}

.color:hover {
    border: 4px solid rgba(0, 0, 0, .4);
    box-sizing: border-box;
}

.inCart:hover {
    border: none;
}

.trash {
    position: absolute;
    padding-top: 8px;
    padding-right: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.trash:hover {

}