@font-face {
    font-family: 'Source Serif Pro Bold';
    src: url("../../design/Source_Serif_Pro/SourceSerifPro-Bold.ttf");
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.load {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.pageNumber {
    padding: 10px;
}

.currentPage {
    font-family: 'Source Serif Pro Bold', serif;
    text-decoration: underline;
}

.list>div:last-child {
    flex: 0 1 100%;
}