.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.load {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button {
    height: 40px;
    width: 140px;
    background-color: #1E4091;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 13px;
}

.list>div:last-child {
    flex: 0 1 100%;
}