@font-face {
    font-family: 'Source Serif Pro';
    src: url("../../design/Source_Serif_Pro/SourceSerifPro-Regular.ttf");
}

@font-face {
    font-family: 'Source Serif Pro Bold';
    src: url("../../design/Source_Serif_Pro/SourceSerifPro-Bold.ttf");
}

.profile {
    margin: 10px;
}

.swatch {
    border: 1px solid #000000;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
}

.color {
    height: 400px;
}

.label {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    padding: 20px;
}

.clearContainer {
    display: flex;
    justify-content: center;
    margin: 18px;
}

.clear {
    border: 1px solid #000000;
    border-radius: 6px;
    font-family: 'Source Serif Pro Bold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear a  {
    padding: 10px 75px;
    flex-grow: 2;
    flex-basis: auto;
}

.clear:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}